/*Imagen de la cabecera*/
.responsive-image {
  max-width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}

/*Menu horizontal*/
.menu-pagina {
  width: 85%;
  margin: 0 auto;
}

.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color:#e8e4e4
}

.horizontal-menu li {
  flex: 1;
  text-align: center;
}

.horizontal-menu li.active {
  background-color: #ddd;
  font-weight: bold;
}

.horizontal-menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

.horizontal-menu li a:hover {
  background-color: #ddd;
  font-weight: bold;
}
