@CHARSET "ISO-8859-1";

*{
    margin:0px;
    padding:0px;
}

.contenedor-partidos{
    width: 100%;
    height: auto;
    background-color: #fffafb;
}

.contenido{
	margin-top: 40px;
	width: 100%;
	margin: auto;
}

.contenido-index{
	background-color: #e8e4e4;
	height: auto;
	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}

.calendario{
	margin-left: 20px;
	margin-right: 20px;
}

.calendario .ui-inputfield{
    font-weight: 900;
    padding: 6px;
}


.divFechas {
   display: flex;
   background-color: #fffafb;
 }
 
.divFechas-calendario {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divFechas-titulo {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partido{
	width: 100%;
	margin:auto;
	margin-bottom: 33px;
	margin-top:10px;
}

/* Información del partido */
.partido-nombre{
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color:#e8e4e4;
}

.partido-record{
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color:#f8f9fa;
}

.partido-tipoPartido{
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	background-color:#e8e4e4;
}

.partido-logoTanteo{
	width: 100%;
	height: 160px;
	margin: auto;
	text-align: center;
	vertical-align: central;
	font-weight: bold;
}

.partido-textoCentrado{
	text-align:center;
}

.partido-tanteo{
	margin: auto;
	font-size: 20px
}

.partido-maximos{
	width: 100%;
	height: 90px;
	margin: auto;
	vertical-align: central;
}

.partido-puntuacion{
	margin: auto;
	text-align: center;
}

.partido-atributo{
	margin: auto;
	text-align: center;
	font-weight: bold;
}

.partido-jugadorNombreVisitante{
	margin: auto;
	text-align: right;
	font-size: 14px;
}

.partido-jugadorNombreLocal{
	margin: auto;
	text-align: left;
	font-size: 14px;
}

.partido-logoPartido{
  max-width: 100%;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Para ver el resultado de los partidos*/
.tg  {border-collapse:collapse;border-spacing:0;width: 450px;height: 350px;margin-left:10px;margin-top:15px; background-color: white;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-baqh{text-align:center;}
.tg .tg-0lax{text-align:center;}



.tb  {border-collapse:collapse;border-spacing:0;width: 100%;table-layout: fixed;height: 50px;}
.tb th{font-family:Arial, sans-serif;font-size:17px;font-weight:normal;border-width:0px;overflow:hidden;word-break:normal;border-color:black;height: 40px;}
.tb td{font-family:Arial, sans-serif;font-size:17px;font-weight:bold;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tb .tb-0lax{text-align:center;vertical-align:top;font-size:14px}
.tb .tb-0laxp{text-align:center;vertical-align:top;border-right: 1px solid;font-size:14px}
.tb ul{
    list-style:none; 
}

.tb  {border-collapse:collapse;border-spacing:0;width: 100%;table-layout: fixed;height: 50px;}
.tb th{font-family:Arial, sans-serif;font-size:17px;font-weight:normal;border-width:0px;overflow:hidden;word-break:normal;border-color:black;height: 40px;}
.tb td{font-family:Arial, sans-serif;font-size:17px;font-weight:bold;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tb .tb-0lbx{text-align:center;vertical-align:top;font-size:14px;vertical-align:middle}
.tb .tb-0lbxp{text-align:center;vertical-align:top;border-right: 1px solid;font-size:14px;vertical-align:middle}
.tb ul{
    list-style:none; 
}

li{
    list-style:none; 
}

ul{
    list-style:none; 
}

.centered {
    margin-left: 30%;
    font-size: 16px;
    font-weight: bold;
}

.centeredHistorico {
    margin-left: 50%;
    font-size: 16px;
    font-weight: bold;
}

.ui-g div {
    vertical-align: middle;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*.ui-datatable-data tr{
    height: 100px !important;
}*/

.tablaEstadisticaContraEquipos{
    margin-top:20px;
    font-size:14px;
    text-align:center;
}

.tablaEstadisticaCarrera{
    font-size:12px;
    text-align:center;
}

.tablaEstadisticasCabecera td{
    padding-left: 2px;
}

.listaEquipos{
    margin-top:30px;
    margin-bottom:15px;
}

.listaEquipos .ui-button.ui-widget.ui-state-default.ui-button-text-only{
    font-size:16px;
    border-color:white;
    background-color:#e8e4e4;
    width:15em;
    padding:2px;
    margin:2px;
    border-radius: 24px;
}

.listaEquipos .ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-state-active{
    border-color:#007ad9;
    background-color:e8e4e4;
    color:white;
}

.listaTemporadas{
    margin-top:30px;
    margin-bottom:15px;
}

.listaTemporadas .ui-button.ui-widget.ui-state-default.ui-button-text-only{
    font-size:16px;
    border-color:white;
    background-color:#b9c1c7;
    width:15em;
    padding:4px;
    margin:2px;
}

.listaTemporadas .ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-state-active{
    border-color:#007ad9;
    background-color:#2196f3;
    color:#000;
}

.ui-selectonemenu-label{
    font-size:14px;
}

.labelInfo{
    font-size:14px;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item{
    font-size:14px;
}

.foto{
    background-image: "https://d2p3bygnnzw9w3.cloudfront.net/req/202002101/tlogo/bbr/WAS.png"
}

.shot-area {
    position:relative;
    overflow-x:auto;
}
.shot-area>div {
    position:absolute;
    font-size:10px;
}
.shot-area>.make {
    color:#080;
}
.shot-area>.miss {
    color:#f00;
}

.shot-area-jugador {
    position:relative;
    overflow-x:auto;
}
.shot-area-jugador>div {
    position:absolute;
    font-size:10px;
}
.shot-area-jugador>.make {
    color:#080;
}
.shot-area-jugador>.miss {
    color:#f00;
}


#cartaLocalRegular.shot-area{

}

/*PÃGINA JUGADORES*/

/* CABECERA BUSCAR JUGADOR*/
.findJugador{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    height: 100vh;
    overflow: auto;
    flex-direction: row;
    margin:0 auto;
}

.findJugador>.nombreJugador{
    width: 15em;
    font-size:16px;
    /*margin-top: 90px;*/
}

.findJugador>.buscarJugador{
    width: 15em;
    height: 140px;
    margin-top: 90px;
}

.findJugador>.tablaJugadores{
    width: 60em;
    height: 140px;
    margin: 5px;
}

.tituloEquipo{
    display: table;
    position: relative;
    margin: auto;
}

.invisible{
    display: none;
}

.statsJugador{
    padding:14px;
    display: flex;
    justify-content: space-around;
    width: 97%;
    margin:0 auto;
    margin-bottom:30px;
}

.statsJugador>.fotoJugador{
    height: 220px;
    margin-right:20px;
    margin-left:-20px;
}

/*
.statsJugador>.estadisticasCarrera{
    
    width: 200em;
    height: 220px;
    margin: 5px;
}*/

/*TAB PÃGINA JUGADOR*/

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
    padding-left:1em;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

/*
 Styling
*/
body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*body {
    padding: 30px;
}*/

.tabset {
    max-width: 98%;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    width:25px;
}

.anchoCuatro{
    width: 45px;
}
.anchoVeinte{
    width: 20px;
}

.anchoTreinta{
    width: 30px;
}

.anchoCientoSetantayCinco{
    width: 160px;   
}

.anchoSetenta{
    width: 70px;    
}

.anchoCientodiez{
    width: 160px;    
}

.porcentaje-cinco{width:5%;}
.porcentaje-diez{width:10%;}
.porcentaje-quince{width:15%;}
.porcentaje-veinte{width:20%;}
.porcentaje-veinteCinco{width:25%;}
.porcentaje-treinta{width:30%;}
.porcentaje-tercio{width:33%;}
.porcentaje-treintaCinco{width:35%;}
.porcentaje-cuarenta{width:40%;}
.porcentaje-cuarentaCinco{width:45%;}
.porcentaje-cincuenta{width:50%;}
.porcentaje-cincuentaCinco{width:55%;}
.porcentaje-sesenta{width:60%;}
.porcentaje-sesentaCinco{width:65%;}
.porcentaje-setenta{width:70%;}
.porcentaje-setentaCinco{width:75%;}
.porcentaje-ochenta{width:80%;}
.porcentaje-ochentaCinco{width:85%;}
.porcentaje-noventa{width:90%;}
.porcentaje-noventaCinco{width:95%;}
.porcentaje-cien{width:100%;}

.borderless .ui-datatable thead th,
.borderless .ui-datatable tbody,
.borderless .ui-datatable tbody tr,
.borderless .ui-datatable tbody td {
    border: none;
    display: none;
}

ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 4px 10px;
}

.titulares {
        background-color: #ceefb1 !important;
}

.suplentes {
        background-color: #fff !important;
}

.equipo {
        background-color: #d0d0d0 !important;
        font-weight: bold;
}

.sinBordes.ui-panelgrid>*>tr,
.sinBordes.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-datalist-content.ui-widget-content{
    background-color: #f1f1f1;
}

.yellowRaw{
     background-color: #ceefb1 !important;
 }
 
 .redRaw{
     background-color: #fff !important;
 }
 
 .green{
     background-color: #98db98  !important;
 }
 
 .whie{
     background-color: white !important;
 }
 
 .grey{
     background-color: #ccc !important
 }
 
 .partidosHeader {
   text-align:center;
   background:none repeat scroll 0 0 #e8e4e4;
}

.negrita{
	font-weight:bold;
}
.subrayado {
  text-decoration: underline;
}
.textoCentrado{
	text-align:center;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrarTexto{
	text-align: center;
}

.centrarTexto{
	text-align:center;
}

.mostrarEnLinea {
  display: inline-block;
}

.tabla-estadisticas {
  table-layout: fixed; 
  border-collapse: collapse;
  width: 100%; 
}

.tabla-estadisticas thead th:nth-child(1) {
  background-color: #e8e4e4; 
  font-weight: bold; 
}

.tabla-estadisticas thead th:nth-child(2) {
  background-color: #e8e4e4; 
  font-weight: bold;
  text-align:center;
}

.tabla-estadisticas thead th:nth-child(3) {
  background-color: #e8e4e4; 
  font-weight: bold;
  text-align:center; 
}

.tabla-estadisticas tbody td:nth-child(1) {
  text-align: left; 
  background-color: #e8e4e4; 
  font-weight: bold; 
}

.tabla-estadisticas tbody td:nth-child(2){
  text-align: left; 
  background-color: #f8f9fa; 
  font-weight: bold; 
}

.tabla-estadisticas tbody td:nth-child(3){
  text-align: left; 
  background-color: #f8f9fa; 
  font-weight: bold; 
}

/* Alineación del resto de columnas al centro */
.tabla-estadisticas tbody td:not(:first-child) {
  text-align: center;
}


.tanteoCuartosGenerico .encabezado-fila th {
    background-color: #e8e4e4; 
    font-weight: bold; 
  	font-size:16px;
}

.tanteoCuartosGenerico .filaVisitante th {
  background-color: #f8f9fa; 
  font-size:16px;
  font-weight: normal;
}

.tanteoCuartosGenerico .filaLocal th {
  background-color: #f8f9fa; 
  font-size:16px;
  font-weight: normal;
}


/* styles.css */
table {
  font-size: 13px; /* Tamaño de letra más pequeño */
  border-collapse: collapse; /* Eliminar espacios entre las celdas */
}

th, td {
  padding: 5px; /* Espaciado interno para celdas */
}

/* Estilos específicos para las cabeceras de las tablas */
th {
  font-weight: bold; /* Texto en negrita para encabezados */
  background-color: #f2f2f2; /* Fondo gris claro para encabezados */
  text-align: center; /* Alinear el texto al centro en los encabezados */
}

.ui-panelgrid-cell.porcentaje-sesenta {
  vertical-align: top;
}

.ui-panelgrid-cell.porcentaje-treintaCinco {
  vertical-align: top;
}


.tablaEstadisticaCarrera thead th {
  background-color: #e8e4e4 !important;
}

.tablaEstadisticaCarrera tbody tr {
  background-color: #f8f9fa !important;
  height: 10px !important;
}

.tablaEstadisticaTemporada thead th {
  background-color: #e8e4e4 !important;
}

.tablaEstadisticaTemporada tfoot td{
  background-color: #e8e4e4 !important;
}

.tablaEstadisticaTemporada .headTabla{
  background-color: red !important;
}

.tablaEstadisticaTemporada tbody tr {
  background-color: #f8f9fa !important;
}

body .ui-datatable .ui-datatable-data>tr>td {
  padding: 0.4rem 1rem;
}

.tablaJugadoresSeleccion thead th {
  background-color: #e8e4e4 !important;
}

.tablaJugadoresSeleccion tbody tr {
  font-size: 16px !important;
}

.tablaJugadoresSeleccion.ui-datatable .ui-paginator.ui-paginator-bottom {
  /* Define aquí los estilos para el paginador que esté al final de la tabla */
  /* Por ejemplo: */
  background-color: #e8e4e4;
  color: #333;
  padding: 10px;
}

.cabecera-jugadores {
  width: 86%;
  margin: 0 auto;
}

/* CSS para cambiar el color de selección en el p:dataTable */
body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
    background-color: #2196f3; /* Cambia el color de fondo de selección a tu elección */
    font-weight: bold;
    color:white;
}

.verticalTop{
	vertical-align: top;
}

/* CSS para eliminar espacio entre elementos en el p:panelGrid */
.ui-panelgrid-cell {
  margin: 0; /* Establece margen a cero para las celdas del panelGrid */
}

/* Establece margen a cero para los elementos dentro de las celdas del panelGrid */
.ui-panelgrid-cell > * {
  margin: 0;
}



.grid-table {
  width: 100%;
  border-collapse: collapse; /* Para que las celdas compartan el borde */
}

/* Estilos para las celdas del grid */
.grid-table td {
  padding: 20px;
  background-color: #f2f2f2;
  text-align: center;
  border: 1px solid #ccc;
}

.tablaEstadisticaContraEquipos thead th {
  background-color: #e8e4e4 !important;
}

.tablaEstadisticaContraEquipos tbody tr {
  background-color: #f8f9fa !important;
  height: 10px !important;
}

.margen-left{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.margen-left-tab{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.circle-image{
width: 45%;
height: auto;
     /* Establece la forma circular */
border-radius: 50%;
/* Establece un borde opcional para el círculo */
border: 2px solid white;
/* Asegura que la imagen se ajuste dentro del círculo */
object-fit: cover;
}

.even-row {
  background-color: #f8f9fa; /* Color de fondo para filas pares */
}

.odd-row {
  background-color: white; /* Color de fondo para filas impares */
}


/*pargina temporadas*/

.listaTemporadasClase{
    margin-top:30px;
    margin-bottom:15px;
}

.listaTemporadasClase .ui-button.ui-widget.ui-state-default.ui-button-text-only{
    font-size:16px;
    border-color:white;
    background-color:#e8e4e4;
    width:8em;
    padding:3px;
    margin:6px;
    border-radius: 25px;
}

.listaTemporadasClase .ui-button.ui-widget.ui-state-default.ui-button-text-only.ui-state-active{
    border-color:#007ad9;
    background-color:#2196f3;
    color:white;
}

.vertical-top{
	vertical-align: top;
}

.tablaClasificacionConferencia thead th {
  background-color: #e8e4e4 !important;
   min-height: 0;
   height: 15px;
}

.tablaClasificacionConferencia tbody tr {
  background-color: #f8f9fa !important;
}

body .ui-datatable thead th{
	    padding: 0.4rem 1rem !important;
}

.tablaMaximos{
	width: 80%;
	margin:0 auto;
}

.tablaMaximos thead{
	display:none;
}
